
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shezhi:before { content: "\e604"; }

.icon-xinlangweibo:before { content: "\e616"; }

.icon-shouye:before { content: "\e60d"; }

.icon-qq:before { content: "\e617"; }

.icon-shezhi1:before { content: "\e600"; }

.icon-jiantouyou:before { content: "\e609"; }

.icon-favorfill:before { content: "\e61c"; }

.icon-favor:before { content: "\e61d"; }

.icon-wifi:before { content: "\e602"; }

.icon-zuo:before { content: "\e61a";font-size: 30px; }

.icon-you:before { content: "\e607";font-size: 30px; }

.icon-zhoubianyou:before { content: "\e60e"; }

.icon-zuo1:before { content: "\e60a"; }

.icon-zhoubianyouhui:before { content: "\e605"; }

.icon-iconupload:before { content: "\e614"; }

.icon-forwardfill:before { content: "\e61e"; }

.icon-forward:before { content: "\e61f"; }

.icon-fenleihuaban:before { content: "\e611"; }

.icon-weixin:before { content: "\e618"; }

.icon-fenxiang:before { content: "\e61e";}

.icon-llmapmodeicon:before { content: "\e615"; }

.icon-wifi1:before { content: "\e601"; }

.icon-shoucangcc:before { content: "\e60f"; }

.icon-tuijian:before { content: "\e612"; }

.icon-tuijiankehu:before { content: "\e606"; }

.icon-shanchu:before { content: "\e61b"; }

.icon-gengduo:before { content: "\e603"; }

.icon-iconfontfujian:before { content: "\e610"; }

.icon-weibo:before { content: "\e619"; }

.icon-down:before { content: "\e60b"; }

.icon-shang:before { content: "\e60c"; }

.icon-shoucang:before { content: "\e608"; }


.icon-shoucangcc:before {content: "\e61c";  }


.icon-down:before { content: "\e60b"; }

.icon-up:before { content: "\e60c"; }